:root {
  --borde-blanco: 4px solid #ffffff;
}

body {
  background-color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin-top: 40px;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Merriweather', serif;
}

.header-div-btn {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 200px;
  height: 120px;
  margin-top: 40px;
}

.header-div-btn button {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.header-div-a{
  width: 300px;
  margin-top: 20px;
}

.header-div-btn a,span {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

.header-div-btn a{
  color: #dbd7d7;
}

.header-div-btn button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-container-1:hover {
  border-color: #ffffff;
}

.disabledBtnComenzar {
  display: none;
}

.puntuacion {
  margin: 40px 0 20px 0;
  font-size: 40px;
  color: #ffffff;
}

.nivel {
  font-size: 25px;
  color: #ffffff;
}

.section-colores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.article-colores {
  display: flex;
  height: 200px;
}

.divs-colores {
  width: 300px;
  height: 90%;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.verde {
  background-color: #38cb58;
}

.verde-click {
  box-sizing: border-box;
  background-color: #00fa36;
  border: var(--borde-blanco);
  filter: saturate(200%);/* Aumentar la saturación al 200% */
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.4); /* Agregar sombra verde */
}

.rojo {
  background-color: #db2023;
}

.rojo-click {
  box-sizing: border-box;
  background-color: #ff0000;
  border: var(--borde-blanco);
  filter: saturate(200%);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.8), 0 0 10px rgba(255, 0, 0, 0.4);
}

.azul {
  background-color: #1d86f2;
}

.azul-click {
  box-sizing: border-box;
  background-color: #000dfa;
  border: var(--borde-blanco);
  filter: saturate(200%);
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.4);
}

.amarillo {
  background-color: #e8e10f;
}

.amarillo-click {
  box-sizing: border-box;
  background-color: #fff700;
  border: var(--borde-blanco);
  filter: saturate(200%);
  box-shadow: 0 0 5px rgba(255, 247, 0, 0.8), 0 0 10px rgba(255, 247, 0, 0.4);
}

.tiempo,
.contador-tiempo {
  font-size: 40px;
  margin-top: 20px;
  color: #ffffff;
}

/* Modal mensajes de perdiste o pasaste de nivel */

.modal-contenedor {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
}

.modal-contenido {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.modal-contenido h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.modal-contenido p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
  font-size: 20px;
}

.modal-div-btn {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 15px;
}

.modal-btn {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 4px;
  font-size: medium;
  border: none;
  transition: all 300ms ease;
  background-color: #000;
  color: #ffffff;
}

.modalActivar {
  display: flex;
}

.modalNivelSuperado {
  display: flex;
  font-weight: bold;
  color: green;
}

.modalPerdiste {
  display: flex;
  font-weight: bold;
  color: #db2023;
}

/* Modal Nombre */

.modal-registrar-nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
}

.modal-registrar-nombre .modal-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.modal-contenido label {
  display: block;
  margin-bottom: 15px;
  font-family: 'Merriweather', serif;
}

.modal-contenido input {
  display: block;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #dbd7d7;
}

.modalDesactivar {
  display: none;
}

.modal-span {
  display: none;
}

.modal-span-activado {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #ca0505;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .divs-colores {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }

  .header-div-a{
    width: 250px;
  }

  .header-div-a a,span{
    margin-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  .divs-colores {
    width: 150px;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }

  .puntuacion,
  .puntaje {
    margin: 30px 0;
    font-size: 30px;
  }

  .tiempo,
  .contador-tiempo {
    margin-top: 5px;
    font-size: 30px;
  }
}

@media(max-width: 310px) {
  .section-colores {
    margin-top: 20px;
  }

  .article-colores {
    display: flex;
    flex-direction: column;
    height: 250px;
  }

  .divs-colores {
    height: 100%;
  }
}